
<div class="beverage-details">
  {{#if @beverageId}}
    <img src="{{@beverage.image_url}}" alt="{{@beverage.name}}">
    <h2>{{@beverage.name}}</h2>
    <p>{{@beverage.description}}</p>
    <div class="details">
      <span>Volume: </span> {{@beverage.volume.value}} {{@beverage.volume.unit}}
    </div>
    <div class="details">
      <span>Goes well with: </span> {{@beverage.food_pairing}}
    </div>
    <div class="details">
      <span>Brewer's tips: </span> {{@beverage.brewers_tips}}
    </div>
    {{#if @isFavorite}}
      <button type="button" {{on 'click' ( fn this.removeFavorite @beverage )}} {{on 'click' ( fn @favState @beverage )}}>Remove from Favorites</button>
    {{else}}
      <button type="button" {{on 'click' ( fn this.saveFavorite @beverage )}} {{on 'click' ( fn @favState @beverage )}}>Save as Favorite</button>
    {{/if}}
  {{else}}
    <div>Click on a beverage to show some details</div>
  {{/if}}
</div>
