
<h1>{{yield}}</h1>
{{#unless @isFav}}
    <button type="button" {{ on 'click' this.getBeverageList }} >Show 10 beverages</button>
{{/unless}}
<div class="flex-page">
  <BeverageList @firstVisit={{this.justLoaded}} @model={{this.beverageList}} @checkBev={{this.showBeverageDetails}}/>
  <BeverageDetails @isFavourite={{@isFav}} @beverageId={{this.id}} @beverage={{this.beverage}} />
</div>
