<button type="button" class="beverage-card" {{on 'click' ( fn @checkId @beverage.id )}} >
  <img src="{{@beverage.image_url}}" alt="{{@beverage.name}}">
  <div>
    <div class="h3">{{@beverage.name}}</div>
    <p>{{@beverage.tagline}}</p>
  </div>
</button>
