<h1>{{yield}}</h1>
{{#unless @isFav}}
    <button type="button">Show 10 beverages</button>
{{/unless}}
<div class="flex-page">
  <BeverageList @model={{@model}} @checkBev={{this.showBeverageDetails}}/>
  <BeverageDetails @isFavourite={{@isFav}} @beverageId={{this.id}} @beverage={{this.beverage}} />
</div>